*.csv
.ipynb_checkpoints/*
events_data/*
*.png
.#*
Counting_Your_Customers.pdf
*.html
trees/*
CLV.pkl
data.json
lrModel/data lrModel/metadata
pipeline/metadata pipeline/stages
web/app.py
pipeline/*
lrModel/*
