*.csv
.ipynb_checkpoints/*
events_data/*
*.png
.#*
Counting_Your_Customers.pdf
trees/*
CLV.pkl
data.json
lrModel/data lrModel/metadata
pipeline/metadata pipeline/stages
web/app.py
pipeline/*
lrModel/*
gh-password.txt
codechurn.pem
ubuntu@ec2-34-228-32-99.compute-1.amazonaws.com
