<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>


    h2 {
    fill: none;
    color: #222;
    shape-rendering: crispEdges;
    }
    h4 {
    fill: none;
    color: #222;
    shape-rendering: crispEdges;
    }    

    h5 {
    fill: none;
    color: #222;
    shape-rendering: crispEdges;
    }

    #name {
    fill: none;
    color: steelblue;
    shape-rendering: crispEdges;
    }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <title>GitHub churn</title>
</head>

<div class="container">
    <div class="jumbotron">
      <h1>CodeChurn: Keeping open source projects active </h1> 
      <h4>Discover, engage, contribute.</h4> 
    </div>

<br>
<div class="row" margin-left="5pt">
    <div class="col-sm-7">
        
        <h2>Individual users </h2>
        <p>Enter username to see if he/she is likely to make future contributions.</p> 
        
        <form method="POST">
            <input name="username" placeholder="username">
            <input type="submit">
        </form>
        {% if username_exists %}        
        <br>

        <h4> <i id='name'><a href='https://github.com/{{ name }}'>{{ name }}</a></i> will
             <u>{{ prediction.nochange.stay_or_go }}</u> over the next 5 months
             with a probability of {{ prediction.nochange.probability }} </h4>
        <br>
        <h5>What can you do to ensure that {{ name }} remains active?</h5>
        <br>

        <ul>
        {% if prediction.WatchEvent_count is not none %}
            <li> Encourage <i id='name'>{{ name }}</i> to watch a new repo and probability changes 
                to {{ prediction.WatchEvent_count.probability }}.</li>
        {% endif %}
        {% if prediction.followers_count is not none %}
            <li> Follow <i id='name'>{{ name }}</i> and probability becomes 
                {{ prediction.followers_count.probability }}. </li>
        {% endif %}
        {% if prediction.blog is not none %}
            <li> Convince <i id='name'>{{ name }}</i> to start a blog and probability changes
                 to {{ prediction.blog.probability }}. </li>
        {% endif %}
        {% if prediction.ForkEvent_count is not none %}
            <li>Convince <i id='name'>{{ name }}</i> to <a href="https://help.github.com/articles/fork-a-repo/">
                fork </a> a new repo and probability becomes
            {{ prediction.ForkEvent_count.probability }}.</li>
        {% endif %}
        {% if prediction.following_count is not none %}
            <li>Help <i id='name'>{{ name }}</i> find users to follow and probability becomes
            {{ prediction.following_count.probability }} if following count increases by one.</li>
        {% endif %} 
        {% if prediction.IssueComment_Event is not none %}
            <li>Suggest an issue to comment on and probability becomes
            {{ prediction.IssueComment_Event.probability }}.</li>
        {% endif %}
        
        <li> <i id='name'>{{ name }}</i> will {{ prediction.all.stay_or_go }} (p={{ prediction.all.probability }}) 
            if you accomplish <b>all three</b>. </li>
        </ul>

        <br>
        <h5> <i id='name'>{{ name }}</i> currently has: </h5>
        <ul>
            <li> {{ user_profile.followers_count }} followers. </li>
            <li> Follows {{ user_profile.following_count }} other users. </li>
            {% if user_profile.company is not none %}
                <li> And is affiliated with {{ user_profile.company }}. </li>                
            {% endif %}
        </ul>                
        {% else %}   
            <!-- <h3> {{ name }} does not exist. </h3> -->
        {% endif %}

    </div>
    <div class="col-sm-5">
        <h2>Analyze repos</h2>
        <p>Select a popular open source repo.</p>         
        <form method="POST">            
            <select name="reponame" method="GET" action="/">                
                {% for repo in repos %}
                {% if repo == reponame %}
                    <option value= "{{ repo }}" SELECTED>{{ repo }}</option>"
                {% else %}
                    <option value= "{{ repo }}">{{ repo }}</option>"
                {% endif %}
                {% endfor %}
            </select>
            <!---<input name="reponame" placeholder="reponame">-->
            <input type="submit">
        </form>
        {% if reponame_exists %}
        <br>

        <!-- import plugin script -->           
        <!-- bar chart canvas element -->
        <canvas id="chart" width="300" height="300"></canvas>
        <script>
            
        // bar chart data<br />
        steps = 10
        max = 1    
        var barData = {
        labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
        //scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: false,
        scaleShowGridLines : false,
        barShowStroke : true,
        scaleShowLabels: true,                        
        datasets : [
            {
                backgroundColor: "rgba(151,187,205,1)",
                strokeColor: "rgba(151,187,205,1)",
                data : [
                    {% for item in values %}
                    {{ item }},
                    {% endfor %}
                        ]
            }
            ]
        } 
            // get bar chart canvas
        var ctx = document.getElementById("chart").getContext("2d");

        // draw bar chart
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: barData,
            options: {
                legend: {
                    display: false,
            },
            title: {
                fontSize: 20,
                display: true,
                text: '{{ reponame }} contributors'
            }, 
            scales: {
                yAxes: [{ 
                    scaleLabel: {
                        fontSize: 20,
                        display: true,
                        labelString: "# of contributors"
                    },
                    ticks: {
                        fontSize: 18,
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        fontSize: 20,
                        display: true,
                        labelString: "probability of staying active",
                    },
                    ticks: {
                        fontSize: 18,
                    }
                }]
            }
            }
        });
        </script>

        <div class="row">
                <div class="col-sm-7">
        <table class="table">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        </table>
        </div>
        <div class="col-sm-8"></div>
        </div>
        {% endif %}

    </div>

  </div>

</div>