<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/info">About <span class="sr-only">(current)</span></a>
            </li>
            </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1>CodeChurn: Keeping open source projects active </h1> 
    <h4>Discover, engage, contribute.</h4> 
</div>