<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>GitHub churn</title>
    </head>
<body>

<img src={{ url }} alt="Chart" height="42" width="42">

<div class="row">
        <div class="col-sm-7">
<table class="table">
{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</table>
</div>
<div class="col-sm-8"></div>
</div>

</body>
</html>